/* Place custom css here */
:root {

    /* In your site CSS */
  body {
    font-family: "Inter", "system-ui", sans-serif;
    line-height: 1.5;
    font-size: 1.1rem;
    background-color: #fffdfa;  /* light sepia, like Solarized base3 */
    color: #333;  /* dark grey text for good contrast */
  }  

    /* Layout */
    --main-width: 850px; /* slightly wider than blog standard for math/code */
  
    /* Typography */
    --p-line-height: 1.5em; /* tighter than blogs, looser than LaTeX for readability */
    --p-margin-top: 0.5rem;
    --p-margin-bottom: 0.9rem;
  
    /* Headings (moderate vertical spacing, like LaTeX sections) */
    --h1-margin-top: 1.5rem;
    --h1-margin-bottom: 1rem;
    --h2-margin-top: 1.2rem;
    --h2-margin-bottom: 0.8rem;
    --hx-margin-top: 1rem;
    --hx-margin-bottom: 0.7rem;
  
}

ul, ol {
  padding-left: 1.5rem; /* or 30px */
  margin-left: 0;       /* optional: reset margin */
}

p { text-align: justify; }

details {
background-color: #f9f9f9;
border: 1px solid #ccc;
padding: 1rem 1rem;
margin-bottom: 1rem;
border-radius: 6px;
}

summary {
    font-weight: bold;
    cursor: pointer;
    margin-top: 0.01rem;
    margin-bottom: 0.01rem;
    padding: 0.0rem 0; /* reduce vertical padding */
}



/* Custom styles for the frist section of the profile page */

.profile-wrapper {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1.5rem;
  border: 2px solid #ccc;
}

.profile-text {
  max-width: 600px;
  font-size: 1.05rem;
  line-height: 1.6;
}

h1 {
  margin-bottom: 0.4rem;
  font-size: 2rem;
}


/*
a {
  color: #0066cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

hr {
  border: none;
  border-top: 1px solid #eee;
  margin: 2rem 0;
}

*/